.App {
    text-align: center;
}

header {
    background-image: url("./assets/images/bgHeader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.BannerCss {
    margin-top: 30px;
}

.Intro {
    color: gold;
    text-align: justify;
    margin-left: 150px;
    margin-top: 100px;
    margin-right: 150px;
    font-family: "Comfortaa", cursive;
}

.ModalCharacter {
    background-color: gold;
    font-family: "Comfortaa", cursive;
}

.CardContain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.CardTop5 {
    background-color: #350e02;
    color: gold;
    font-family: "Comfortaa", cursive;
    text-align: center;
}

.CardContent {
    background-color: #350e02;
}

.ButtonFooter {
    color: gold;
    font-family: "Comfortaa", cursive;
    font-size: 1.5em;
    background-color: #021035;
    border: rgb(83, 42, 8);
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.ButtonFooter:hover {
    background-color: gold;
    color: #021035;
}

footer {
    margin-top: 100px;
    background-color: rgb(83, 42, 8);
    color: gold;
    font-family: "Comfortaa", cursive;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

.spinner {
    margin-top: 450px;
}
