html {
    background-color: #021035;
}

body {
    background-color: #021035;
}

h3 {
    color: gold;
    font-family: "Comfortaa", cursive;
    margin-top: 50px;
}

h5 {
    color: gold;
    font-family: "Comfortaa", cursive;
    margin-top: 20px;
}
